// Applied Animations
.about, .contact, .login, .my-work, .student-work, .name {
	animation-name: fadeIn, slideUp;
	animation-duration: .65s;
	animation-fill-mode: both;
	animation-timing-function: ease;
}

// Animations
@keyframes fadeIn {
	0% { opacity: 0;}
	100% { opacity: 1;}
}

@keyframes slideUp {
	0% { transform: translateY(100%) rotate(30deg); }
	100% { transform: translateY(0%) rotate(0deg); }
}
