@import './variables.scss';

.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 40vw;
	padding: 40px;
	margin: 1.2rem;
	height: 75vh;
	background-color: rgba(255,255,255, .75);
	box-shadow: 2px 2px 4px rgba(0,0,0,.2);

	&__img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-image: url('https://static.makeuseof.com/wp-content/uploads/2015/11/perfect-profile-picture-all-about-face.jpg');
		background-size: cover;
		// flex: 0 0 25%;
		// display: flex;
		// justify-content: center;
		// align-items: center;
	}

	h1 {
		// margin: 20px;
		color: $clrDark;
	}

	form {
		width: 100%;
		// text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}

	input, textarea {
		display: block;
		width: 100%;
		margin-top: 20px;
		padding: .7rem;
		border-radius: 3px;
		border: 1px solid #aaa;
		font-size: 1.4rem;
		color: $clrDark;
		outline: none;
	}

	textarea {
		height: 50%;
	}
}
