/*********************
Light - #F0B3FF   rgb(240,179,255)
Medium - #B452CC  rgb(180,82,204)
Dark - #703380
Gray - #785980
Saturated - #E066FF
**********************/
$clrLight: #F0B3FF;
$clrDark: #703380;


// .bottom {
// 	height:
// 	overflow: hidden;
// }

footer {
	position: fixed;
	width: 100vw;
	height: 60px;
	padding:20px 80px;
	bottom: 0px;
	background-color: rgba($clrDark, .9);
	z-index: 10;
	transform: translateY(50px);
	transition: transform .2s;

	.footer-content {
		opacity: 0;
		color: #F0B3FF;
		font-size: 1rem;
		transition-duration: .5s;
		display: flex;
		justify-content: space-between;
		align-items: center;

		a:link, a:visited {
			color: $clrLight;
			text-decoration: none;
		}

		a:hover {
			color: #fff;
		}

		p {
			font-size: .75rem;
			color: rgba($clrLight, .5);
		}

		.line {
			flex: 1;
			height: 1px;
			margin: 0 20px;
			background-color: rgba($clrLight, .25);
		}

	}

	&:hover {
		transform: translateY(0px);

		.footer-content {
			opacity: 1;
		}
	}
}
