nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 80px 20px 80px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(180,82,204,.25);
  font-family: 'Emilys Candy', cursive;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 10px 30px;
  margin-right: 10%;
}

.nav-links li a, .nav-contact {
  text-decoration: none;
/*   text-shadow: 1px 1px 2px rgb(180,82,204); */
  color: #B452CC;
  font-size: 1.25rem;
  transition: all .5s ease;
}

.nav-links li a:hover {
  color: #703380;
  text-shadow: none;
}

.nav-links li {
  padding-left: 40px;
}

.nav-contact {
  background-color: transparent;
  border: 2px solid #B452CC;
  padding: 6px 24px;
  border-radius: 60px;
  align-self: center;
  transition: all .5s ease;
  color: #B452CC;
  text-shadow: none;
}

.nav-contact:hover {
  background-color: #703380;
  border: 2px solid #703380;
  color: #fdfdfd;
}

.name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}
