@import "./variables.scss";

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 80px 20px 80px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(180,82,204,.25);
  font-family: $font1;
	position: fixed;
	width: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 10px 30px 0px 0px;
  margin-right: auto;
}

.nav-links li a, .nav-contact {
  text-decoration: none;
  color: $clrMedium;
  font-size: 1.25rem;
  transition: all .5s ease;
}

.nav-links li a:hover {
  color: $clrDark;
}

.nav-links li:not(.nav-links__one) {
  padding-left: 40px;
}

.nav-contact {
  background-color: transparent;
  border: 2px solid $clrMedium;
  padding: 6px 24px;
  border-radius: 60px;
  align-self: center;
  transition: all .5s ease;
  color: $clrMedium;
  text-shadow: none;
}

.nav-contact:hover {
  background-color: $clrDark;
  border: 2px solid $clrDark;
  color: #fdfdfd;
}

.home {
	font-size: 1.6rem;
	margin-top: -1.5px;
}
