
/* Colors */
/*********************
Light - #F0B3FF   rgb(240,179,255)
Medium - #B452CC  rgb(180,82,204)
Dark - #703380
Gray - #785980
Saturated - #E066FF
**********************/
$clrLight: #F0B3FF;
$clrMedium: #B452CC;
$clrDark: #703380;
$clrGray: #785980;
$clrSaturated: #E066FF;

/* Fonts */
$font1: 'Emilys Candy', cursive;
