/*********************
Light - #F0B3FF   rgb(240,179,255)
Medium - #B452CC  rgb(180,82,204)
Dark - #703380
Gray - #785980
Saturated - #E066FF
**********************/

@import url('https://fonts.googleapis.com/css?family=Emilys+Candy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F0B3FF;
  font-size: 62.5%;
}
